{% extends "base.html" %}
{% block content %}
section class="full">
      <div class="slider-item js-fullheight">
        <div class="overlay"></div>
        <div class="container containerr">
          <div
            class="row slider-text js-fullheight justify-content-center align-items-center"
          >
            <div class="col-md-12 col-sm-12 text-center ftco-animate">
              <div class="Welcome">
                <h1 class="mt-5">Welcome to Restaurantly</h1>
                <p>
                  <a href="{% url 'menu' %}" class="btn btn-primary p-3 px-xl-4 py-xl-3"
                    >View Menu
                  </a>
                  {% if user.is_authenticated %}
                    <a href="{% url 'make_reservation' %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Book Table</a>
                  {% else %}
                  <a href="{% url 'login' %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Please  log in to make a reservation.</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>

  
  {% endblock content %}
  