{% extends 'base.html' %}

{% block content %}
<section class="full">
<div class="container mt-5 Details">
    <div class="card card-1">
        <div class="card-body ">
            <h2 class="card-title title-card">Reservation Details</h2>
            <p class="card-text title-card"><strong>Table:</strong> {{ reservation.table }}</p>
            <p class="card-text title-card"><strong>Date:</strong> {{ reservation.date }}</p>
            <p class="card-text title-card"><strong>Start Time:</strong> {{ reservation.start_time }}</p>
            <p class="card-text title-card"><strong>End Time:</strong> {{ reservation.end_time }}</p>
            <p class="card-text title-card"><strong>Name:</strong> {{ reservation.name }}</p>
            <p class="card-text title-card"><strong>Email:</strong> {{ reservation.email }}</p>
            <a href="{% url 'update_reservation' reservation.id %}" class="btn btn-danger">Update</a>
            <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
</section>
{% endblock %}
