{% extends "base.html" %}

{% block content %}
<section class="full profile">
    <div class="container mt-5">
        <h1 class="text-center">My Reservations</h1>
        <div class="row justify-content-center">
            {% if reservations %}
                {% for reservation in reservations %}
                    <div class="col-md-6">
                        <div class="card mb-3 card-1">
                            <div class="card-body">
                                <h5 class="card-title title-card">{{ reservation.name }}</h5>
                                <p class="card-text title-card">Table: {{ reservation.table }}</p>
                                <a href="{% url 'reservation_detail' reservation.id %}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        No reservations available.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}
