*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*min-height: 100vh;*/
    
    
}
.header .container-fluid {
    width: 100%;
    background-color: rgb(120, 12, 12);
    box-shadow: 10px 20px 30px rgb(0, 0, 0);

}

#navbar {
    padding: 0;

    width: 100%;

}
#wel {
    margin: 0;

}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar-brand img {
    width: 100px;
    border-radius: 15px;


}
/*#row {
    width: 85%;
}*/

.white {
    color: white;
    font-weight: bold;
}

.white:hover {
    
    color: rgb(120, 12, 12);
    background-color: white;
    border: rgb(120, 12, 12);
    border-radius: 20px;
}


.full{
    margin-top:50px;
    width:100%;
    display: flex;
    flex-direction: column;
    margin-right:20px;
    padding: 20px;
   
        

}

.containerr {
    margin-top: 60px;
    background-color: rgba(120, 12, 12, 0.67);
     height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     border-radius: 20px;
     
     box-shadow: 30px 30px 40px rgb(0, 0, 1);
     
 }
/* den første*/

main{
    margin-top: -49px;
    background-image: url("../image/restaurant-boutique-header-bg.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    
}

.review-btn{
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}
.review{
    margin-bottom:5

}
.red {
    display: flex;
    align-items: center;
    justify-content: center;
    color: 
}
.review-txt{
    width: fit-content;
    background-color: rgba(50, 36, 36, 0.67);
    border-radius: 20px;
    

}


/*.slider-item {
    width: 100%;
    height: auto;
  }*/


.two{
    position: relative:
    
}

.card-title{
    font-size:30px;
}
.card-text{
    font-size: 16px;
}

.btn {
    background-color: rgb(120, 12, 12);
    border-color: rgb(120, 12, 12);
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: rgb(120, 12, 12);
    border-color: rgb(120, 12, 12)
}

h1,
h2 {
    font-size:55px ;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
}
p{
    align-items: center;
    margin:5px;
}
p a{
    align-items: center;
    margin: 15px;
    padding: 20px;
}
.vm{
    display: flex;
    justify-content: center;

}
.add {
    margin-top: 100px;
}
.name{
    color: whitesmoke;
}

.footer {
   /* margin-top: auto;*/
    background-color: rgba(120, 12, 12,1);
    width: 100%;
    position: relative;
    bottom: 0; 
}

.Socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (min-width: 768px) {
    .two{
        width: 100%;
        
    }

    .card-title{
        font-size:30px;
    }
    .card-text{
        font-size: 20px;
    }

    .add {
        margin-top: 140px;
    }
    
    

}

.menu{
    padding-top: 50px;
    
    width: 95%;
}
.menu-list{
    width: fit-content;
    background-color: rgba(50, 36, 36, 0.67);
    border-radius: 20px

}
.sign-up{
    padding-top: 70px;
}
.sign{
    padding-top: 25px;
    width: 92%;
    background-color: rgba(120, 12, 12, 0.67);
     height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     border-radius: 20px;
     box-shadow: 30px 30px 40px rgb(0, 0, 1);
     margin-left: 9px;

}
.register{
    margin: 20px;
}
.log-in {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
}
.login{margin-top: 50px;
}

.reserv{
    margin-right: 5px;
    padding: 10px;
}

.Submit{
    margin: 20px;

}
.error{
    align-items: center;
    justify-content: center;
    text-align: center;

}

.Details{
    margin-top:250px;
    height:100vh;
}


@media screen and (max-width: 768px) {
    .sign-up{
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        width: 75%;
        margin-left:110px;
        
    
    }
    .log-in {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 55vh;
    }
    .reserv{
       /* height: 100v;*/
        margin-right: 5px;
        padding: 10px;
    }
    .Details{
        margin-top:250px;
        height:55vh ;
    }
    
    

    
}

@media screen and (max-width: 992px) {
    .sign-up{
        position: relative;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        width:85%;
        margin-left: auto;
        
       
    
    }
    .profile{
        height: 100vh;
    }
    .sign-in{
        height: 100vh;

    }
    .log-in {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .add {
        margin-top: 180px;
    }
    

    
}
@media screen and (max-width: 1200px) {
    .profile{
        margin-top:100px;
        height: 150vh;
    }
    .add {
        margin-top: 200px;
    }

}

/* Media Query for Large Screens */
/*@media screen and (min-width: 992px) {
    #menu{
        width: 30%;
    }

    
}