*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    
    
}
.header .container-fluid {
    width: 100%;
    background-color: rgb(120, 12, 12);
    box-shadow: 10px 20px 30px rgb(0, 0, 0);

}

#navbar {
    padding: 0;

    width: 100%;

}
#wel {
    margin: 0;

}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.navbar-brand img {
    width: 100px;
    border-radius: 15px;


}
/*#row {
    width: 85%;
}*/

.white {
    color: white;
    font-weight: bold;
}

.white:hover {
    
    color: rgb(120, 12, 12);
    background-color: white;
    border: rgb(120, 12, 12);
    border-radius: 20px;
}

main{
    margin-top: -49px;
    background-image: url("../image/restaurant-boutique-header-bg.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    
    
}


.full{
    margin-top: 50px;
    width:100%;
    display: flex;
    flex-direction: column;
   
        

}

.containerr {
    margin-top:50px;
    background-color: rgba(120, 12, 12, 0.67);
     height: 100%;
     width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
     border-radius: 20px;*/
     box-shadow: 30px 30px 40px rgb(0, 0, 1);
     
 }



.review{
    margin-bottom:50px;
}

/*.slider-item {
    width: 100%;
    height: auto;
  }*/


.two{
    position: relative:
    
}

.card-title{
    font-size:30px;
}
.card-text{
    font-size: 16px;
}

.btn {
    background-color: rgb(120, 12, 12);
    border-color: rgb(120, 12, 12);
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: rgb(120, 12, 12);
    border-color: rgb(120, 12, 12)
}

h1,
h2 {
    font-size:55px ;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
}
p{
    align-items: center;
    margin:5px;
}
p a{
    align-items: center;
    margin: 15px;
    padding: 20px;
}
.vm{
    display: flex;
    justify-content: center;

}
.red{
    color: rgb(109, 28, 28);
}


.footer {
    background-color: rgba(120, 12, 12,1);
    width: 100%;
    position: relative;
    bottom: 0; 
}

.Socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (min-width: 768px) {
    .two{
        width: 100%;
        
    }

    .card-title{
        font-size:30px;
    }
    .card-text{
        font-size: 20px;
    }
    
    

}


/* Media Query for Large Screens */
/*@media screen and (min-width: 992px) {
    #menu{
        width: 30%;
    }

    
}