*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serifs;
    background-image: url("../image/restaurant-boutique-header-bg.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    
}
