{% extends "base.html" %}
{% block content %}
<section class="full">
    <div class="container">
    <div class="containerr">
        <h1 >Welcome to Restaurantly</h1>
        <p>
            <a href="{% url 'menu' %}" class="btn btn-primary px-4 py-3 vm" role="button">View Menu</a>
            {% if user.is_authenticated %}
                <a href="{% url 'make_reservation' %}" class="btn btn-primary px-4 py-3" role="button">Book Table</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary px-4 py-3" role="button">Please log in to make a reservation.</a>
            {% endif %}
        </p>
    </div>
</div>
    
    
  </section>

  <section class="two">
    <div class="container mt-5">
        <h1 class="red">Reviews</h1>
        <div class="container review-btn">
            <a href="{% url 'add_review' %}" class="btn btn-primary px-4 py-3" role="button">Please log in to make a reservation.</a>

        </div>

        <div class="row" id="review-cards">
            {% for review in reviews reversed %}
                <div class="col-md-4 mb-4 review-card{% if forloop.counter > 3 %} d-none{% endif %}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.author }}</h5>
                            <p class="card-text">{{ review.content }}</p>
                            <p class="card-text">Rating: 
                                {% for _ in "x"|rjust:review.rating %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-3">
            <button id="prev-btn" class="btn btn-primary p-3 px-xl-4 py-xl-3">Previous</button>
            <button id="next-btn" class="btn btn-primary p-3 px-xl-4 py-xl-3{% if reviews|length <= 3 %} d-none{% endif %}">Next</button>
        </div>
    
    </div>

    
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var nextBtn = document.getElementById('next-btn');
        var prevBtn = document.getElementById('prev-btn'); 
        var reviewCards = document.querySelectorAll('.review-card');
        var nextIndex = 3;
    
        // Initialt skjul alle anmeldelser unntatt de første tre
        for (var i = 3; i < reviewCards.length; i++) {
            reviewCards[i].classList.add('d-none');
        }
    
        nextBtn.addEventListener('click', function() {
            showNextReviews();
        });
    
        prevBtn.addEventListener('click', function() { // Nytt: Lytter etter klikk på "previous" knappen
            if (nextIndex > 3) { // Sjekker om det er noe å gå tilbake til
                showPreviousReviews();
            }
        });
    
        function showNextReviews() {
            // Skjul de gjeldende synlige anmeldelsene
            for (var i = nextIndex - 3; i < nextIndex; i++) {
                reviewCards[i].classList.add('d-none');
            }
            // Vis de neste tre anmeldelsene
            for (var i = nextIndex; i < nextIndex + 3; i++) {
                if (reviewCards[i]) {
                    reviewCards[i].classList.remove('d-none');
                }
            }
            // Oppdater nextIndex for neste gruppe anmeldelser
            nextIndex += 3;
            // Sjekk om det er flere anmeldelser å vise
            if (nextIndex >= reviewCards.length) {
                nextBtn.classList.add('d-none');
            } else {
                nextBtn.classList.remove('d-none'); // Sørg for at "next" knappen er synlig hvis det er flere anmeldelser
            }
            prevBtn.classList.remove('d-none'); // Sørg for at "previous" knappen alltid er synlig når man klikker på "next"
        }
    
        function showPreviousReviews() { // Nytt: Funksjon for å vise forrige gruppe anmeldelser
            // Skjul de gjeldende synlige anmeldelsene
            for (var i = nextIndex - 1; i >= nextIndex - 3; i--) {
                if (reviewCards[i]) {
                    reviewCards[i].classList.add('d-none');
                }
            }
            // Vis de forrige tre anmeldelsene
            for (var i = nextIndex - 4; i >= nextIndex - 6; i--) {
                if (reviewCards[i]) {
                    reviewCards[i].classList.remove('d-none');
                }
            }
            // Oppdater nextIndex for forrige gruppe anmeldelser
            nextIndex -= 3;
            // Sjekk om det er flere anmeldelser å vise
            if (nextIndex <= 3) {
                prevBtn.classList.add('d-none'); // Skjul "previous" knappen hvis vi er tilbake til de første anmeldelsene
            } else {
                prevBtn.classList.remove('d-none'); // Sørg for at "previous" knappen er synlig hvis det er flere anmeldelser å gå tilbake til
            }
            nextBtn.classList.remove('d-none'); // Sørg for at "next" knappen alltid er synlig når man klikker på "previous"
        }
    });
    
</script>

  

{% endblock content %}